@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

::-webkit-file-upload-button {
  display: none;
}

::file-selector-button {
  display: none;
}

input[type="file"] {
  color: transparent !important;
  content: "";
}

.p-button-label {
  @apply text-sm;
}

.hw-full {
  @apply h-full w-full;
}

.transition-500 {
  @apply transition-all duration-500;
}
